# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]ist/
[Dd]istPublic/
bin/
obj/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Core temporary files
wwwroot/

# User-specific files
.idea/

# Windows-specific files
Thumbs.db
ehthumbs.db

# NuGet
.nuget/

# macOS-specific files
.DS_Store

# Secrets
secrets*.json
